In [1]:
import os
import json
import urllib
import requests
import webbrowser
import pandas as pd

In [18]:
output = "CSV" # JSON, CSV, ASCII, ICASA, NETCDF
field_name = 'basswood'
start_date = 20000101
end_date = 20191231
lat = 32.929
long = -95.770

output_folder = r'pwr' # if r'' the location of the script is where the files will be outputted.
params = r'ALLSKY_SFC_SW_DWN,T2M_MAX,T2M_MIN,PRECTOT,RH2M,WS2M'
base_url = f"https://power.larc.nasa.gov/cgi-bin/v1/DataAccess.py?request=execute&identifier=SinglePoint&tempAverage=DAILY&parameters={params}&startDate={start_date}&endDate={end_date}&lat={lat}&lon={long}&outputList={output}&userCommunity=SSE"

# for latitude, longitude in locations:
    #api_request_url = base_url.format(longitude=longitude, latitude=latitude, output=output.upper())

# Python Memory Object
json_response = json.loads(requests.get(base_url).content.decode('utf-8'))

#Selects the file URL from the JSON response
csv_request_url = json_response['outputs'][output.lower()]
# Download File to Folder
output_folder = os.path.join(output_folder, field_name)
if not os.path.exists(output_folder):
    os.mkdir(output_folder)
output_file_location = os.path.join(output_folder, os.path.basename(csv_request_url))
urllib.request.urlretrieve(csv_request_url, output_file_location)

POWER_SinglePoint_Daily_20000101_20191231_032d93N_95d77W_ac479d3f.csv

('pwr\\basswood\\POWER_SinglePoint_Daily_20000101_20191231_032d93N_95d77W_ac479d3f.csv',
 <http.client.HTTPMessage at 0x254d720cac0>)

In [19]:
met = pd.read_csv(output_file_location, header=15)
#met = pd.read_json("pwr\POWER_SinglePoint_Daily_19810101_20191231_032d93N_95d77W_7dff805a.json")

In [21]:
met = met.drop(columns=['LAT', 'LON', 'MO'])

In [22]:
met.columns = ("year", "day", "maxt", "mint", "radn", "rain", "rh", "wind_speed")

In [24]:
met[360:370]

     year  day  maxt  mint   radn   rain     rh  wind_speed
360  2000   26  0.10  2.09  -0.09  33.72  94.83        3.18
361  2000   27  0.47  0.65  -1.76   8.26  95.30        2.90
362  2000   28  1.98  2.67  -4.60   3.64  93.85        2.04
363  2000   29  3.87  1.75  -7.14   0.00  89.61        3.22
364  2000   30  3.35  0.90 -10.35   0.01  87.65        2.00
365  2000   31  0.49 -0.73  -7.89   4.38  91.40        2.62
366  2001    1  0.99 -0.31  -9.80   0.22  89.50        2.29
367  2001    2  1.89 -1.18  -9.18   0.02  86.95        2.12
368  2001    3  3.29  3.13  -8.05   0.01  88.50        1.60
369  2001    4  3.77  8.10  -3.73   0.04  86.44        1.53

In [32]:
met2020 = met.loc[met['year'] == 2019]